@import "../../styles/constants.scss";
.board {
    background-color: $light-black;
    outline: 3px solid $white;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 6;
    //
    // width: 350px;
    // height: 350px;
    margin: 25px;
}